@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #709fcf4a;
    margin: 0;
    padding: 25px;
    text-align: center;
}

h2 {
    color: #003366;
    margin-top: 50px;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container, .login-container {
    width: 29%;
    margin: 20px auto;
    padding: 79px;
    background-color:aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
    width: 50%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin-top: 20px;
    color: Green;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.error {
    color: #ff4d4d;
    margin-top: 10px;
}

.success {
    color: #28a745;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
